<footer class="text-muted pt-3">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md">
                <div>Test app</div>
                <div><small class="text-muted">© 2019 Oliinyk Maksym</small></div>
            </div>
            <div class="col-6 col-md">
                <div class="font-weight-bold">Соц. сети</div>
                <ul class="list-unstyled">
                    <li><a href="https://www.instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i>
                        Instagram</a></li>
                    <li><a href="https://www.facebook.com/"><i class="fa fa-facebook-official"
                                                               aria-hidden="true"></i> Facebook</a></li>
                    <li><a href="https://www.youtube.com/"><i class="fa fa-youtube-play" aria-hidden="true"></i>
                        YouTube</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <div class="font-weight-bold">Контакты</div>
                <div><a href="#"><i class="fa fa-phone-square" aria-hidden="true"></i> +380000000000</a></div>
                <div><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> testapp@test.test</a></div>
            </div>
        </div>
    </div>
</footer>